#gridPane {
    -fx-background-color: #343a40;
}

.contact-menu {
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
}



.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: rgba(0,0,0,0);
    -fx-opacity: 1;
    -fx-text-fill: black;

}

.contact-menu:hover{
-fx-scale-x: 1.1;
-fx-scale-y: 1.1;
}

.menu-item {
    -fx-font: 13px 'Trebuchet MS', Helvetica, sans-serif;
}

//https://code.makery.ch/library/javafx-tutorial/part4/
.table-view {
   -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

#searchField:focused {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-color:
            #ffd65b,
            #efaa22;
}


.dialog-pane .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-font-size: 11pt;
}

.dialog-pane {
    -fx-background-color: #343a40;
}

.dialog-pane:header *.header-panel{
        -fx-background-color: #000;
}

.dialog-pane:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-fill: #292929;
}



